
#main-navbar {
  background-color: blue;
  overflow: hidden;
  float:left;
  width:100%;
  position:relative;
  display:block;
}

#navbar-container ul {
  position:relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  
#navbar-container li {
  position:relative;
  float:left;
  display: block;
  padding: 10px 20px;
  left:50%;
  right:50%;
  text-decoration:none;
}
   
#navbar-container a {
  float:left;
  text-decoration:underline overline;
  color:#fff;
  background-color:#000;
}
 
#sidebar {
  background-color: red;
  width:20%;
  position:fixed;
  display:block;
  right:0%;
  height:100%	
}

#sidebar-container ul {
  text-align:center;
  list-style-type: none;
  padding:0;
}

#sidebar-container li{
  padding:15x 0px;
}

#sidebar-container a {
  text-decoration:none;
  color:#fff;
  background-color:#000;
}	



